<h3>Registration</h3>
<form class="form-inline" *ngIf="!authService.getUser()">
  <div class="form-group">
    <label for="username">User: </label>
    <input class="form-control" name="username" #username>
  </div>
  <br/>
  <div class="form-group">
    <label for="password">Password: </label>
    <input class="form-control" type="password" name="password" #password>
  </div>
  <br/>
  <div class="form-group">
    <label for="email">Email: </label>
    <input class="form-control" type="email" name="email" #email>
  </div>
  <br/>
  <div class="form-group">
    <label for="role">Role: </label>
    <input type="radio" value="user" name="role" #role> User
    <input type="radio" value="admin" name="role" #role> Admin
  </div>
  <br/>
  <a class="btn btn-success" (click)="register(username.value, password.value, email.value, role.value)">
    Submit
  </a>
</form>